doctype 5
html(lang="en")
  include includes/head
  body
  
      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html") R, S & P
              li 
                a(href="style-tiles.html") Style Tiles
              li
                a(href="wireframe.html") Wireframes
              li 
                a(href="prototype.html") Prototype
              li 
                a(href="build.html", class="active") Build
              li
                a(href="re-iterate.html") Re-Interate
          .clearfix

    .wrapper
      img(src="img/build.png", class="diagram")
      br 
      br 
      hr 
      h1 Build
      p 
        | This is where we review the prototypes, add any 
        | additionally required functionality (JavaScript) 
        | and merge the code into the main project. 


