doctype 5
html(lang="en")
  include includes/head
  body

      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html") R, S & P
              li 
                a(href="style-tiles.html") Style Tiles
              li
                a(href="wireframe.html") Wireframes
              li 
                a(href="prototype.html") Prototype
              li 
                a(href="build.html") Build
              li
                a(href="re-iterate.html") Re-Interate
          .clearfix

    .wrapper
      h1 The Methodology
      p 
        | This approach is about being leaner. 
      p 
        | In order to accurately focus on the user, we need to get working journeys in front 
        | of users as soon as possible. This allows us to test and optimise based on empirical 
        | evidence, opposed to a more 'pin the tail' methodology.
      p 
        | But its not only great in delivering a engaging UX, its also leaner and more agile, allowing
        | us to quickly iterate, modify, improve and optimise.
      p 
        | UX is often seen as a catalyst for organisational change, this is because in order to 
        | deliver a truly great user experience, you need to continually measure and test improvements 
        | throughout design and development. To do this efficiently we need to have another look at how 
        | we approach some projects.
      p 
        | The below diagram highlights a UX focused development methodology. 

      br
      img(src="img/ux-diagram.png", class="diagram")
