doctype 5
html(lang="en")
  include includes/head
  body
  
      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html") R, S & P
              li 
                a(href="style-tiles.html") Style Tiles
              li
                a(href="wireframe.html") Wireframes
              li 
                a(href="prototype.html", class="active") Prototype
              li 
                a(href="build.html") Build
              li
                a(href="re-iterate.html") Re-Interate
          .clearfix

    .wrapper
      img(src="img/prototype.png", class="diagram")
      br 
      br 
      hr 
      h1 Prototype
      p 
        | Prototypes combine content, wireframes and style 
        | tiles to create a more concrete working model.
      p 
        | Build a demonstration of the system ad design to allow
        | for iteration and optimisation. Prototypes are clear design 
        | deliverables, traditionally coded in HTML, meaning that the 
        | design output is in the same medium as the development 
        | output.
      p 
        | Once this stage has been agreed and signed-ff, the project 
        | status is then locked; additional modifications can be 
        | suggested or applied in a subsequent iteration.




