doctype 5
html(lang="en")
  include includes/head
  body
  
      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html", class="active") R, S & P
              li 
                a(href="style-tiles.html") Style Tiles
              li
                a(href="wireframe.html") Wireframes
              li 
                a(href="prototype.html") Prototype
              li 
                a(href="build.html") Build
              li
                a(href="blog.html") Re-Interate
          .clearfix

    .wrapper
      img(src="img/rsp.png", class="diagram")
      br 
      br 
      hr 
      h1 Research, Sketch and Plan
      em "If I'd asked people what they wanted, they would have said a faster horse."
      span - Henry Ford
      p 
        | By conducting design research up front, we can try and eliminate some of 
        | the pain points later on. If you know who your users are, what the business 
        | goals are, and what the technological constrains are, you can design a 
        | solution that balances these constraints, ultimately giving rationale to 
        | decisions.
      p 
        | Using key principles from HCI (Human Computer Interaction); by researching the 
        | and organisational goals, we will form a basis from which to begin planning
        | interactions. From here we will sketch elements and ideas using this research
        | as a foundation. Sketches form a fundamental foundation, its low fidelity nature 
        | allows for quick iteration and conceptualisation.


