doctype 5
html(lang="en")
  include includes/head
  body
  
      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html") R, S & P
              li 
                a(href="style-tiles.html", class="active") Style Tiles
              li
                a(href="wireframe.html") Wireframes
              li 
                a(href="prototype.html") Prototype
              li 
                a(href="build.html") Build
              li
                a(href="re-iterate.html") Re-Interate
          .clearfix

    .wrapper
      img(src="img/style.png", class="diagram")
      br 
      br 
      hr 
      h1 Style Tiles and Components
      p 
        | Style tiles are design components consisting of fonts, colours and 
        | interface elements that communicate the essence of a visual brand,
        | together to help understand how they look as a whole.
      p 
        | They help form a common visual language between the designers and the 
        | stakeholders and provide a catalyst for discussions around the preferences
        | and goals of the client.