doctype 5
html(lang="en")
  include includes/head
  body
  
      header
        .header-container 
          h1.logo 
            a(href="index.html") 
              img(src="img/ux_logo.png")
          nav
            ul
              li 
                a(href="rsp.html") R, S & P
              li 
                a(href="style-tiles.html") Style Tiles
              li
                a(href="wireframe.html", class="active") Wireframes
              li 
                a(href="prototype.html") Prototype
              li 
                a(href="build.html") Build
              li
                a(href="re-iterate.html") Re-Interate
          .clearfix

    .wrapper
      img(src="img/wireframe.png", class="diagram")
      br 
      br 
      hr 
      h1 Wireframes
      p 
        | From research, planning and sketches we will create style tiles 
        | and wireframes. Wireframes create the first tangible flow through 
        | the project, generating an interactive walkthrough.
      p 
        | Wireframes allow UXers to focus on behaviours and user journeys, 
        | seperating the aesthetic from the functional process. 

