

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

p{
	-webkit-margin-before: 0.6rem;
	-webkit-margin-after: 0.6rem;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

em{
	color: #909090;
}

h1{
	font-weight: 100;
	color: #909090;
}

.wrapper{
	width: 40rem;
	padding: 4rem 0.5rem;
	margin: 0 auto;
}

.clearfix{
	clear: both;
}